body
{
	background-color: lightgrey;
	font-size: 60px;
	font-family: 'Nunito', sans-serif;
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
}
#logo
{
	width:960px;
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	letter-spacing: 3px;
	height: 50px;
}
.login
{
	background-color: #34a21a;
	color: white;
	font-weight: 700;
	height: 24px;
	width: 120px;
	padding: 1px;
	font-size: 12px;
	letter-spacing: 1px;
	float: right;
	padding-top: 6px;
	text-align: center;
	margin-right: 5px;
	border-radius: 10px;
}
.login:hover
{
	background-color: #36b03c;
	cursor: pointer;
}
a.loginlink
{
	color: white;
	text-decoration: none;
}
.register
{
	background-color: white;
	height: 24px;
	width: 120px;
	padding: 1px;
	color: red;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 1px;
	float: right;
	padding-top: 6px;
	text-align: center;
	margin-right: 10px;
	border-radius: 10px;
}
.register:hover
{
	background-color: #EEEEEE;
	cursor: pointer;
	text-decoration: none;
}
a.registerlink
{
	color: red;
	text-decoration: none;
}
#text
{
	text-align: center;
	height: 80px;
	font-size: 25px;
	letter-spacing: 5px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 60px;
}
#picture
{
	width: 1000px;
	margin-left: auto;
	margin-right:auto;
}
#footer
{
	width:960px;
	margin:20px;
	text-align: center;
	font-size: 15px;
}